.classpath.txt
target
.classpath
.project
.idea
*.iml

# CDK asset staging directory
.cdk.staging
cdk.out
test_config.yaml
/target/
pom.xml.versionsBackup
setEnv.sh

# .settings : we need Eclipse settings for code formatter and clean-up rules
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.cache
dependency-reduced-pom.xml


# Others
.DS_Store
*.swp
local
Scripts
.dbeaver*
**/*.log
.directory
venv/
.tmp/
~*
*.lock
*.bak
*.orig
*.old
*.md.html
*.flattened-pom.xml
